::selection {
    background-color: rgba(225, 225, 225, 0.25);
}

::-webkit-scrollbar {
    width: 0px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: var(--shadow);
    font-size: var(--font-size-title);
}

@media (max-width: 700px) {
    h1 {
        font-size: var(--font-size-large);
    }
}
