.Add {
    margin: var(--margin-large);
}

.Form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title, .Content {
    margin: var(--margin-normal);
    border: none;
    border-radius: var(--border-radius);
    
    font-size: var(--font-size-normal);
    background-color: var(--background-color);
    color: var(--text-color);
}

.Title::placeholder, .Content::placeholder {
    color: var(--placholder-color);
}

.Button {
    border: none;
    border-radius: var(--border-radius);

    font-size: var(--font-size-normal);
    background-color: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
