html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: baseline;
}

body {
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;
    background: linear-gradient(#83a4d4, #b6fbff);

    --font-size-normal: 25px;
    --font-size-large: 50px;
    --font-size-title: 75px;

    --background-color: rgba(0, 0, 0, 0.25);
    --text-color: rgba(255, 255, 255, 0.75);
    --placholder-color: rgba(255, 255, 255, 0.25);

    --margin-normal: 5px;
    --margin-large: 10px;
    --text-padding: 5px;

    --border-radius: 10px;

    --button-transition: ease-in 0.1s;
    --item-transition: ease-in 0.2s;

    --shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
